%html
  %head
    %title SoundCloud.com: Dashboard Podcast
  %body
    %h1 SoundCloud.com: Dashboard Podcast
    %h2 Tracks
    %ul
      %li
        %a{:href => to(@tracks_path)} Feed
      %li
        %a{:href => to_itpc(@tracks_path)} Add to iTunes
    %h2 Favorites
    %ul
      %li
        %a{:href => to(@favorites_path)} Feed
      %li
        %a{:href => to_itpc(@favorites_path)} Add to iTunes
    %h2 My Favorites
    %ul
      %li
        %a{:href => to(@my_favorites_path)} Feed
      %li
        %a{:href => to_itpc(@my_favorites_path)} Add to iTunes
